doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Details
        link(href="/stylesheets/admin.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", rel="stylesheet")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap", rel="stylesheet")
    body
        .container
            header#header
                .logo
                    img(src="/images/logo.jpg", alt="Logo")
                nav.header-right
                    form#filter-form(action="/filter", method="post")
                        label(for="branch")
                            i.fas.fa-map-marker-alt
                        select#branch(name="branch")
                            option(value="") Select
                            option(value="All") All
                            option(value="Mylapore") Mylapore
                            option(value="T Nagar") T Nagar
                            option(value="Alwarpet") Alwarpet
                        button#filter(type="submit")
                            i.fas.fa-search
                    .user-dropdown
                        button.dropbtn
                            i.fas.fa-user-circle.fa-2x
                            i.fas.fa-caret-down.fa-2x
                        .dropdown-content#options-dropdown
                            a(href="/admin/profile/")
                                i.fas.fa-user.icon
                                span Profile
                            a(href="/logout")
                                i.fas.fa-sign-out-alt.icon
                                span Logout
            .content
                if data.message
                    .error-box
                        p #{data.message}
                else
                    table#main
                        thead
                            tr
                                th Name
                                th Mobile
                                th Age
                                th Gender
                                th Email
                                th Designation
                                th Marital Status
                                th Branch
                                th Operations
                        tbody
                            each item in data
                                tr
                                    td= item.employeeName
                                    td= item.mobileNumber
                                    td= item.age
                                    td= item.gender
                                    td= item.email
                                    td= item.designation
                                    td= item.maritalStatus
                                    td= item.branch
                                    td
                                        a.update(href=`/update/${item.employeeId}`) Update
                                        a.delete(href=`/delete/${item.employeeId}`) Delete
            script(src="/javascripts/admin.js")
