doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Details
        link(href="/stylesheets/admin.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", rel="stylesheet")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap", rel="stylesheet")
    body
        #display
            #header
                form(action="/filter", method="post")
                    label(for="branch") Branch:
                    select#branch(name="branch")
                        option(value="All") All
                        option(value="Mylapore") Mylapore
                        option(value="T Nagar") T Nagar
                        option(value="Alwarpet") Alwarpet
                    button#filter(type="submit") Submit
                h4(style="margin-left:50%") Welcome Mr.#{name}
                .options.dropdown
                    button.dropbtn
                        p.fa.fa-user-circle.fa-3x
                        i.fas.fa-caret-down
                    .dropdown-content#options-dropdown
                        a(href=`/admin/profile/`)
                            p.icon Profile
                            i.fas.fa-user.icon
                        a(href=`/logout`)
                            p.icon Logout
                            i.fas.fa-sign-out-alt.icon
            if data.message
                h3(style="text-align:center") #{data.message}
            else
                table#main
                    tr
                        th Name
                        th Mobile
                        th Age
                        th Gender
                        th Email
                        th Designation
                        th Marital Status
                        th Branch
                        th Operations
                    each item in data
                        tr
                            td= item.employeeName
                            td= item.mobileNumber
                            td= item.age
                            td= item.gender
                            td= item.email
                            td= item.designation
                            td= item.maritalStatus
                            td= item.branch
                            td
                                button.delete
                                    a(href=`/update/${item.employeeId}`) Update
                                button.delete
                                    a(href=`/delete/${item.employeeId}`) Delete

                if data.error
                    h6 Error in updating user.

    script.
        const dropdownButton = document.querySelector(".dropbtn");
        const dropdownContent = document.querySelector("#options-dropdown");

        dropdownButton.addEventListener("click", function (event) {
            event.stopPropagation();
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        });

        window.addEventListener("click", function (event) {
            if (!dropdownButton.contains(event.target)) {
                dropdownContent.style.display = "none";
            }
        });
